*{
    box-sizing: border-box;
}

body{

}
#miVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    height: auto;
    width: auto;
}
#miImg {
    height:auto;
    width: 80%

}
