*{
    box-sizing: border-box;
}
<body {div {
  background-image: url("kulero.jpg");
  background-attachment: fixed;
     overflow: scroll;}
}>
    



#miVideo {
    
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    height: auto;
    width: auto;
}
img {
    height:auto;
    width:auto;

}

