*{
    box-sizing: border-box;
}
body {
 background-image: url(kulero.jpg);
	  background-position: center center;	  
	  background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#miVideo {
    
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    height: auto;
    width: auto;
}
img {
    width:350px;
	padding-top:1000px;

}

